**
!Dockerfile
!.dockerignore
!app/
!app/*.py
!app/requirements.txt
!app/static/
!app/static/**
!app/templates/
!app/templates/**
!app/tests/
!app/tests/**
app/static/qa/
**/__pycache__/
**/*.pyc
**/*.sqlite3*
**/*.key
