{
    admin off
    auto_https off
}

:8080 {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Robots-Tag "noindex, nofollow"
        Cache-Control no-cache
    }
    handle /healthz {
        respond "ok" 200
    }
    handle /version.json {
        header Cache-Control no-store
        root * /opt
        rewrite * /site-version.json
        file_server
    }
    handle {
        root * /srv
        file_server
    }
}
