[Unit]
Description=Check oasis approved releases

[Timer]
OnBootSec=45s
OnUnitInactiveSec=60s
AccuracySec=5s
Unit=oasis-abdul-dev-update.service

[Install]
WantedBy=timers.target
